{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-muted ms-2 mt-2">Login Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="login-container p-4 bg-light rounded">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Value">
                    </div>

                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Value">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>

                    <div class="mt-3">
                        <a href="{{ path('app_forgot_password_request') }}" class="btn btn-light btn-sm">Forgot Password...</a>
                        <a href="{{ path('app_register') }}" class="btn btn-light btn-sm float-end">Register As New User</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}