{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 p-0">
            <div class="sidebar">
                <div class="p-3 text-center">
                    <div class="logo-container mb-3">
                        <a href="{{ path('app_dashboard') }}" class="text-decoration-none">
                         <span>Logo</span>
                         </a>
                    </div>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{{ path('app_supplier') }}" class="list-group-item list-group-item-action bg-light">Suppliers</a>
                    <a href="{{ path('app_product') }}" class="list-group-item list-group-item-action bg-light">Products</a>
                    <a href="{{ path('app_order') }}" class="list-group-item list-group-item-action bg-light">Orders</a>
                    <a href="{{ path('app_delivery') }}" class="list-group-item list-group-item-action bg-light">Deliveries</a>
                    <a href="{{ path('app_customer') }}" class="list-group-item list-group-item-action bg-light">Customers</a>
                </div>
            </div>
        </div>
         <!-- Main Content -->
                <div class="col-md-10 content-area">
           <div class="header d-flex justify-content-end py-3 px-2">
                <a href="{{ path('app_logout') }}" class="btn btn-light">Logout</a>
            </div>
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Create New Customer</h4>
        </div>
        <div class="card-body">
            {{ include('customer/_form.html.twig') }}
        </div>
    </div>
{% endblock %}